<div class="modal-header justify-content-between align-items-start">
  <h4 class="modal-title">{{ "edit_customer" | translate }}</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="modal.dismiss('dismiss')"
  >
    <span aria-hidden="true"><i class="fa fa-times"></i></span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group mb-3">
    <label for="customerFirstname">{{ "firstname" | translate }}</label>
    <input
      type="text"
      class="form-control"
      id="customerFirstname"
      [(ngModel)]="customer.firstname"
    />
  </div>
  <div class="form-group mb-3">
    <label for="customerLastname">{{ "lastname" | translate }}</label>
    <input
      type="text"
      class="form-control"
      id="customerLastname"
      [(ngModel)]="customer.lastname"
    />
  </div>
  <div class="form-group mb-3">
    <label for="customerEmail">{{ "email" | translate }}</label>
    <input
      type="text"
      class="form-control"
      id="customerEmail"
      [(ngModel)]="customer.email"
    />
  </div>
  <div class="form-group mb-3">
    <label for="customerMobilephone">{{ "mobilephone" | translate }}</label>
    <input
      type="text"
      class="form-control"
      id="customerMobilephone"
      [(ngModel)]="customer.mobilephone"
    />
  </div>
  <div class="form-group mb-3">
    <label for="customerAddress">{{ "address" | translate }}</label>
    <input
      type="text"
      class="form-control"
      id="customerAddress"
      [(ngModel)]="customer.address"
    />
  </div>
  <div class="form-group mb-3">
    <label for="customerCity">{{ "city" | translate }}</label>
    <input
      type="text"
      class="form-control"
      id="customerCity"
      [(ngModel)]="customer.city"
    />
  </div>
  <div class="form-group mb-3">
    <label for="customerZip">{{ "zip" | translate }}</label>
    <input
      type="text"
      class="form-control"
      id="customerZip"
      [(ngModel)]="customer.zip"
    />
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-secondary"
    (click)="modal.dismiss('cancel')"
  >
    Odustani
  </button>
  <button type="button" class="btn btn-primary" (click)="editCustomer()">
    Uredi
  </button>
</div>
