<div class="container mt-5">
    <h1 class="text-center mb-4">{{ 'intro_title' | translate }}</h1>
    <div class="row mt-5">
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h3 class="card-title">{{ 'services' | translate }}</h3>
          </div>
          <div class="card-body services-container">
            <ul class="list-group">
              @for(service of services(); track service.id) {
                @if(service.name && service.description) {
                  <li class="list-group-item mt-2">
                    {{ service.name }} - {{ service.description }}
                  </li>
                }
              }
            </ul>
            @if(!services().length) {
              <p>{{ 'no_services_available' | translate }}</p>
            }
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-header bg-success text-white">
            <h3 class="card-title">{{ 'customers' | translate }}</h3>
          </div>
          <div class="card-body customers-container">
            <ul class="list-group">
              @for(customer of customers(); track customer.id) {
                @if(customer.firstname && customer.lastname) {
                  <li class="list-group-item mt-2">
                    {{ customer.firstname }} {{ customer.lastname }}
                  </li>
                }
              }
            </ul>
            @if(!customers().length) {
              <p>{{ 'no_customers_available' | translate }}</p>
            }
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-header bg-warning text-white">
            <h3 class="card-title">{{ 'offers' | translate }}</h3>
          </div>
          <div class="card-body offers-container">
            <ul class="list-group">
              @for(offer of offers(); track offer.id) {
                @if(offer.number && offer.created) {
                  <li class="list-group-item mt-2">
                    {{ offer.number }} - {{ offer.created | date:'dd.MM.yyyy' }}
                  </li>
                }
              }
            </ul>
            @if(!offers().length) {
              <p>{{ 'no_offers_available' | translate }}</p>
            }
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-header bg-info text-white">
            <h3 class="card-title">{{ 'invoices' | translate }}</h3>
          </div>
          <div class="card-body invoices-container">
            <ul class="list-group">
              @for(invoice of invoices(); track invoice.id) {
                @if(invoice.number && invoice.created) {
                  <li class="list-group-item mt-2">
                    {{ invoice.number }} - {{ invoice.created | date:'dd.MM.yyyy' }}
                  </li>
                }
              }
            </ul>
            @if(!invoices().length) {
              <p>{{ 'no_invoices_available' | translate }}</p>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
