body {
    background-color: #f8f9fa;
  }
  
  h1, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }

  p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }

  .description {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .card-header {
    border-radius: 8px 8px 0 0;
  }

  .list-group-item {
    border: none;
    border-bottom: 1px solid #dee2e6;
  }

  .list-group-item:last-child {
    border-bottom: none;
  }

  .services-container, .customers-container, .offers-container, .invoices-container {
    max-height: 300px;
    overflow-y: auto;
  }
  
  li {
    border-radius: 10px;
  }